/.project
/.classpath
/target/*.class
/target/classes/*
/target/test-classes/*
/lib/*
/.settings/*
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/
/.idea/*.xml
